.titleColor {
  color: #fff !important;
}
.companyTitle {
  cursor: pointer;
  h6 {
    color: #fff;
  }
  &:hover {
    color: #000 !important;
    background-color: unset;
  }
}
.recording {
  color: #808080 !important;
}
